<div id="benefits" class="animated"  data-animated="fadeInUp" >
	<div class="content">
		<h1>{{global.index.sections[4].title}}</h1>
		<ul class="benefits"  >
		{% for item in global.index.sections[4].benefits %}
			<li>
				<span class="icon icon-{{item.icon}} animated"  data-animated="fadeInUp"></span>
				<h3 class="animated"  data-animated="fadeInUp">{{item.title}}</h3>
				<p class="animated"  data-animated="fadeInUp">{{item.description}}</p>
			</li>
		{% endfor %}
		</ul>
	</div>
</div>