<div id="benefits">
	<div class="content">
		<h1>{{global.index.sections[4].title}}</h1>
		<ul class="benefits">
		{% for item in global.index.sections[4].benefits %}
			<li>
				<span class="icon icon-{{item.icon}}"></span>
				<h3>{{item.title}}</h3>
				<p>{{item.description}}</p>
			</li>
		{% endfor %}
		</ul>
	</div>
</div>