<div id="fun">
	
	<div class="content">
		<h1 class="animated" data-animated="fadeInUp">{{global.index.sections[3].title}}</h1>
		<p class="animated" data-animated="fadeInUp">{{global.index.sections[3].intro}}</p>
		<div class="slider">
	        <div><img src="/assets/img/fun__1.jpg" alt="One"/></div>
	        <div><img src="/assets/img/fun__1.jpg" alt="Two"/></div>
	        <div><img src="/assets/img/fun__1.jpg" alt="Three"/></div>
	        <div><img src="/assets/img/fun__1.jpg" alt="Four"/></div>   
	    </div>
	</div>

	
</div>