<div id="main"  data-animated="fadeInUp" class="animated">

	<div class="content" class="animated" data-animated="shake">
		<h1>{{ global.title }}</h1>
		<p class="intro">{{global.intro}}</p>
		<div class="arrow">
			<a class="icon-arrowdown animated scroll" href="#values" data-animated="pulse"></a>
		</div>
	</div>

</div>