<div id="main"  data-animated="fadeInUp" class="animated">

	<div class="content" class="animated" data-animated="shake">
		<h1>{{ global.title }}</h1>
		<p class="intro">{{global.intro}}</p>
		<span class="icon-arrowdown animated" data-animated="pulse"></span>
	</div>

</div>