<div id="stack">
	<h1>{{global.index.sections[2].title}}</h1>
	<ul class="stack">
	{% for item in global.index.sections[2].stack %}
		<li>
			<a href="{{item.url}}"><img src="{{item.imageUrl}}" alt="{{item.name}}"></a>
		</li>
	{% endfor %}
	</ul>
</div>