<div id="stack">
	<div class="content">
		<h1>{{global.index.sections[2].title}}</h1>
		<div class="stack">
		{% for item in global.index.sections[2].stack %}
			<div class="item">
				<a href="{{item.url}}"><img src="{{item.imageUrl}}" alt="{{item.name}}"></a>
			</div>
		{% endfor %}
		</div>
	</div>
</div>