/*
██╗  ██╗███████╗ █████╗ ██████╗ ███████╗██████╗ 
██║  ██║██╔════╝██╔══██╗██╔══██╗██╔════╝██╔══██╗
███████║█████╗  ███████║██║  ██║█████╗  ██████╔╝
██╔══██║██╔══╝  ██╔══██║██║  ██║██╔══╝  ██╔══██╗
██║  ██║███████╗██║  ██║██████╔╝███████╗██║  ██║
╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝╚═════╝ ╚══════╝╚═╝  ╚═╝
*/
header{
	
		background: white;
		position: fixed;
		width:100%;
		height:4em;
		height:$header__height;
		line-height: 4em;
		line-height: $header__height;
		z-index: 10001;
	
	input{
		display:none;
	}
	.label__menu--close{display:none}
	.row{
		max-width:$content__max-width !important;
		margin:0 auto;
	}
	.logo{
		float:left;
		width:3em;
	}
	nav{
		text-align: right;
		float: right;

		@include grid-column(10);

		li {
			display: inline-block;
		}
		
	}
}