
@import "http://fonts.googleapis.com/css?family=Open+Sans:300,600,400";

//font-family: 'alphasights' Vector Font Icons
@import "https://fontastic.s3.amazonaws.com/QD6XZevxhSidosxa6jfTdH/icons.css";


h1,h2,h3,h4{
	font-weight: 500 ;
	color: $headingFontColor;
}
h1{
	text-align: center;
	font-size: 36px;
	font-size: 2.4rem;
	line-height: 1.23;
	font-weight: 300;
	color: $headingFontColor;
	&:before{
		content: '';
		width: 70px;
		height: 1px;
		background: #eee;
		display: block;
		bottom: 0;
		margin: 0 auto;
		top: 1.8em;
		position: relative;
	}
}