@charset "UTF-8";




/*
███████╗███████╗████████╗██╗   ██╗██████╗ 
██╔════╝██╔════╝╚══██╔══╝██║   ██║██╔══██╗
███████╗█████╗     ██║   ██║   ██║██████╔╝
╚════██║██╔══╝     ██║   ██║   ██║██╔═══╝ 
███████║███████╗   ██║   ╚██████╔╝██║     
╚══════╝╚══════╝   ╚═╝    ╚═════╝ ╚═╝    
 */
@import "settings";
@import "generic/mixins";
@import "default/normalize";
@import "default/base";
@import "default/clearfix";
@import "compass";

/* 
 * Breakpoints
 */
@import "breakpoints/baseline";


@import "includes/type";
@import 'includes/header';
@import 'includes/nav';
@import "includes/helpers";



/**
███████╗ ██████╗ ██╗   ██╗███╗   ██╗██████╗  █████╗ ████████╗██╗ ██████╗ ███╗   ██╗
██╔════╝██╔═══██╗██║   ██║████╗  ██║██╔══██╗██╔══██╗╚══██╔══╝██║██╔═══██╗████╗  ██║
█████╗  ██║   ██║██║   ██║██╔██╗ ██║██║  ██║███████║   ██║   ██║██║   ██║██╔██╗ ██║
██╔══╝  ██║   ██║██║   ██║██║╚██╗██║██║  ██║██╔══██║   ██║   ██║██║   ██║██║╚██╗██║
██║     ╚██████╔╝╚██████╔╝██║ ╚████║██████╔╝██║  ██║   ██║   ██║╚██████╔╝██║ ╚████║
╚═╝      ╚═════╝  ╚═════╝ ╚═╝  ╚═══╝╚═════╝ ╚═╝  ╚═╝   ╚═╝   ╚═╝ ╚═════╝ ╚═╝  ╚═══
**/


@import "foundation/components/global";
@import "foundation/components/grid";
@import "foundation/components/top-bar";
@import "foundation/components/orbit";

/**
███████╗███████╗ ██████╗████████╗██╗ ██████╗ ███╗   ██╗███████╗
██╔════╝██╔════╝██╔════╝╚══██╔══╝██║██╔═══██╗████╗  ██║██╔════╝
███████╗█████╗  ██║        ██║   ██║██║   ██║██╔██╗ ██║███████╗
╚════██║██╔══╝  ██║        ██║   ██║██║   ██║██║╚██╗██║╚════██║
███████║███████╗╚██████╗   ██║   ██║╚██████╔╝██║ ╚████║███████║
╚══════╝╚══════╝ ╚═════╝   ╚═╝   ╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝
**/
@import 'sections/main';
@import 'sections/values';
@import 'sections/team';
@import 'sections/stack';
@import 'sections/fun';


.content{
	padding-top: $header__height;
	
}
body,html{
	height:100%;
}
p{font-size:1em;}

