<header >	
	<div class="animated" >
		<div class="row">
			<div class="logo">LOGO</div>
			<input class="icon__menu hide" type="radio" name="menu" id="menu--open" />
			<label class="label__menu--open" for="menu--open"></label>
			{% include "nav"  %}
			<label class="label__menu--close" for="menu--close">x</label>
			<input class="icon__close" type="radio" name="menu" id="menu--close" />

		</div>
	</div>
</header>