/*
██████╗ ███████╗███╗   ██╗███████╗███████╗██╗████████╗███████╗
██╔══██╗██╔════╝████╗  ██║██╔════╝██╔════╝██║╚══██╔══╝██╔════╝
██████╔╝█████╗  ██╔██╗ ██║█████╗  █████╗  ██║   ██║   ███████╗
██╔══██╗██╔══╝  ██║╚██╗██║██╔══╝  ██╔══╝  ██║   ██║   ╚════██║
██████╔╝███████╗██║ ╚████║███████╗██║     ██║   ██║   ███████║
╚═════╝ ╚══════╝╚═╝  ╚═══╝╚══════╝╚═╝     ╚═╝   ╚═╝   ╚══════╝
*/
#benefits{
	background: $blue ;
	padding: 2rem 0 5rem;
	background: url(../img/section__benefits--bg.png) no-repeat center;
	@include background-size(cover);
	h1, &, h3{color:$white}
	ul{display: inline-block;}
	li{
		position:relative;
		list-style-type: none; 
		.icon{
			margin: 0 0.5em 2em 0;
		}
		@extend .medium-6;
		float:left;padding: 10px;
		h3{
			margin: 0;
		}
	}

	.icon{
		font-size: 3em;
		float:left;
		top: 1.3em;
		line-height: 1.5em;
		text-align: center;
		display: block;
		width: 1.5em;
		background: $orange;
		height: 1.5em;
		border-radius: 0.1em;
	}
}