/*
███████╗██╗   ██╗███╗   ██╗
██╔════╝██║   ██║████╗  ██║
█████╗  ██║   ██║██╔██╗ ██║
██╔══╝  ██║   ██║██║╚██╗██║
██║     ╚██████╔╝██║ ╚████║
╚═╝      ╚═════╝ ╚═╝  ╚═══╝
*/
#fun{
	padding: 0;
	height: 94%;
	background: lighten($gray,20%);
	text-align: center;
	color:$headingFontColor;
	
		.content{
			position: relative;
			
			p{
				margin: 3em 0
			}
		}

	.fun{
		
		margin:0rem auto 0 0;
		img{margin:0 auto}
	}
	
	.photostack{
		height:74%;
		nav{

		}
		
	}
}