/*
███████╗██╗   ██╗███╗   ██╗
██╔════╝██║   ██║████╗  ██║
█████╗  ██║   ██║██╔██╗ ██║
██╔══╝  ██║   ██║██║╚██╗██║
██║     ╚██████╔╝██║ ╚████║
╚═╝      ╚═════╝ ╚═╝  ╚═══╝
*/
#fun{
	padding: 0;
	background: lighten($gray,20%);
	text-align: center;
	color:$headingFontColor;
	#fun__slider .item img{
	    display: block;
	    width: 100%;
	    height: auto;
	}
	.content{
		position: relative;
		padding: 15% 0;
		p{
			margin: 3% 0
		}
		h1,p{
			z-index: 1000;
			position: relative;
			text-align: center;
			width:100%
		}
	}

	
	
	margin:0rem auto 0 0;
	img{margin:0 auto}

	

}