#main{
	background: url(../img/stage__bg.jpg);
	background-size: cover;
	height:950px;
	color:white;
	.content{
		text-align: center;
		h1{
			font-size: 4rem;
			font-weight: 300;
			line-height: 1.3;
			color: #fff;
			margin-top: 20rem;
			&:before{
				display:none
			}
			strong{
				font-weight: 500;
			}

		}
		.intro{
			font-weight: 300;
			font-size: 1.5rem;
		}
		.icon-arrowdown {
			background: rgba(255,255,255,0.2);
			border-radius: 50%;
			font-size: 2rem;
			padding: 30px;
			display: block;
			width: 90px;
			margin: 15rem auto;
		}
	}
}