/*
██████╗  ██████╗ ███████╗██╗████████╗██╗ ██████╗ ███╗   ██╗███████╗
██╔══██╗██╔═══██╗██╔════╝██║╚══██╔══╝██║██╔═══██╗████╗  ██║██╔════╝
██████╔╝██║   ██║███████╗██║   ██║   ██║██║   ██║██╔██╗ ██║███████╗
██╔═══╝ ██║   ██║╚════██║██║   ██║   ██║██║   ██║██║╚██╗██║╚════██║
██║     ╚██████╔╝███████║██║   ██║   ██║╚██████╔╝██║ ╚████║███████║
╚═╝      ╚═════╝ ╚══════╝╚═╝   ╚═╝   ╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝
*/
#positions{
	display:inline-block;
	&:before{
		background: url(../img/section__positions--bg.png) no-repeat center;
		content:'';
		position:absolute;
		width:100%;
		height:800px;
		z-index: -1;
	}
	@include background-size(cover);
	width:100%;
	ul{padding:0}
	.content{
		min-height: 45em;
	}
	.content > div{
		//@extend .large-4,.columns;
		@include grid-column(4);

	}
	p{
		text-align: center;
		//@extend .medium-12, .columns, .medium-centered;
		@include grid-column($columns:12, $center:true);

		font-size: 1.2em;
		padding: 3% 13%;
	}
	color:darken($gray,37%);
	h3{
		color:$orange;
	}

	li {
		list-style-type: none;
		a{
			background: white;
			border: 1px solid $gray;
			text-decoration: none;
			display: block;
			line-height: 2em;
			padding: 0.5em 2em;
			margin:0 1em 0.5em 0;
			font-weight: 500;
			color: darken($gray, 90%);
			&:hover{
				background: lighten($gray,30%);
				color: darken($gray, 100%);
			}
		}
	}


}