/*
███████╗████████╗ █████╗  ██████╗██╗  ██╗
██╔════╝╚══██╔══╝██╔══██╗██╔════╝██║ ██╔╝
███████╗   ██║   ███████║██║     █████╔╝ 
╚════██║   ██║   ██╔══██║██║     ██╔═██╗ 
███████║   ██║   ██║  ██║╚██████╗██║  ██╗
╚══════╝   ╚═╝   ╚═╝  ╚═╝ ╚═════╝╚═╝  ╚═╝
*/
#stack{
	margin: 6rem 0 9rem;
	.stack{
		display: inline-block;
		width: 100%;
		margin-top: 4rem;
	}
	.item{
		@extend .columns, .medium-2;
		border-right:1px solid $gray;
		border-bottom:1px solid $gray;
		text-align:center;
		min-height: 13em;
		display: table;
		line-height: 13rem;
		a{
			display: table-cell;
		}
	}
}