#stack{
	margin: 6rem 0 0rem 0;
	.stack{
		display: inline-block;
		width: 100%;
		margin-top: 4rem;
	}
	.item{
		@extend .columns, .small-2;
		border-right:1px solid $gray;
		border-bottom:1px solid $gray;
		text-align:center;
		min-height: 5em;
		display: table;
		line-height: 8rem;
		a{
			display: table-cell;
		}
	}
}